Initialisation

# New Section

In [ ]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

Importing Data

In [ ]:
train = pd.read_csv('https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/train.csv')

#test = pd.read_csv('https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/test.csv')

#test_original=test.copy()

train_original=train.copy()

combine = train#.append(test,ignore_index=True,sort=True)

combine.tail()

          id  label                                              tweet
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

In [ ]:
def remove_pattern(text,pattern):
    
    # re.findall() finds the pattern i.e @user and puts it in a list for further task
    r = re.findall(pattern,text)
    
    # re.sub() removes @user from the sentences in the dataset
    for i in r:
        text = re.sub(i,"",text)
    
    return text

Remove @user_id tags

In [ ]:
combine['processed_tweets'] = np.vectorize(remove_pattern)(combine['tweet'], "@[\w]*")

combine.head()

   id  ...                                   processed_tweets
0   1  ...    when a father is dysfunctional and is so sel...
1   2  ...    thanks for #lyft credit i can't use cause th...
2   3  ...                                bihday your majesty
3   4  ...  #model   i love u take with u all the time in ...
4   5  ...             factsguide: society now    #motivation

[5 rows x 4 columns]

Removing Punctuation, Numbers, and Special Characters

In [ ]:
combine['processed_tweets'] = combine['processed_tweets'].str.replace("[^a-zA-Z#]", " ")

combine.head(10)

   id  ...                                   processed_tweets
0   1  ...    when a father is dysfunctional and is so sel...
1   2  ...    thanks for #lyft credit i can t use cause th...
2   3  ...                                bihday your majesty
3   4  ...  #model   i love u take with u all the time in ...
4   5  ...             factsguide  society now    #motivation
5   6  ...        huge fan fare and big talking before the...
6   7  ...                   camping tomorrow        danny
7   8  ...  the next school year is the year for exams    ...
8   9  ...  we won    love the land    #allin #cavs #champ...
9  10  ...              welcome here    i m   it s so #gr

[10 rows x 4 columns]

Remove short words like ok, oh, whose length is less than 3

> Indented block

In [ ]:
combine['processed_tweets'] = combine['processed_tweets'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>=3]))

combine.head(10)

   id  ...                                   processed_tweets
0   1  ...  when father dysfunctional and selfish drags hi...
1   2  ...  thanks for #lyft credit can use cause they don...
2   3  ...                                bihday your majesty
3   4  ...                 #model love take with all the time
4   5  ...                 factsguide society now #motivation
5   6  ...  huge fan fare and big talking before they leav...
6   7  ...                             camping tomorrow danny
7   8  ...  the next school year the year for exams can th...
8   9  ...  won love the land #allin #cavs #champions #cle...
9  10  ...                                   welcome here #gr

[10 rows x 4 columns]

Convert tweets into token of words

In [ ]:
tokenized_tweet = combine['processed_tweets'].apply(lambda x: x.split())

tokenized_tweet.head()

0    [when, father, dysfunctional, and, selfish, dr...
1    [thanks, for, #lyft, credit, can, use, cause, ...
2                              [bihday, your, majesty]
3           [#model, love, take, with, all, the, time]
4              [factsguide, society, now, #motivation]
Name: processed_tweets, dtype: object

Removing suffixes (“ing”, “ly”, “es”, “s” etc) from a words.

In [ ]:
from nltk import PorterStemmer

ps = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda x: [ps.stem(i) for i in x])

tokenized_tweet.head()

for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])

combine['processed_tweets'] = tokenized_tweet
combine.head()

   id  ...                                   processed_tweets
0   1  ...  when father dysfunct and selfish drag hi kid i...
1   2  ...  thank for #lyft credit can use caus they don o...
2   3  ...                                bihday your majesti
3   4  ...                 #model love take with all the time
4   5  ...                       factsguid societi now #motiv

[5 rows x 4 columns]

Bag of words

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')

# bag-of-words feature matrix
bow = bow_vectorizer.fit_transform(combine['processed_tweets'])

df_bow = pd.DataFrame(bow.todense())

df_bow

       0    1    2    3    4    5    6    ...  993  994  995  996  997  998  999
0        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
1        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
2        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
3        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
4        0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
31957    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
31958    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
31959    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
31960    0    0    0    0    1    0    0  ...    0    0    0    0    0    0    0
31961    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0

[31962 rows x 1000 columns]

In [ ]:
train_bow = bow[:31962]

train_bow.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [ ]:


from sklearn.model_selection import train_test_split

x_train_bow, x_valid_bow, y_train_bow, y_valid_bow = train_test_split(train_bow,train['label'],test_size=0.3,random_state=2)

y_train_bow

18111    1
20179    0
28826    0
25091    0
11091    0
        ..
11798    0
30280    0
6637     0
2575     0
23720    0
Name: label, Length: 22373, dtype: int64

Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

Log_Reg = LogisticRegression(random_state=0,solver='lbfgs');

Log_Reg.fit(x_train_bow,y_train_bow)

Log_Reg.predict_proba(x_valid_bow)[:,1]

array([0.01650969, 0.00017477, 0.0999922 , ..., 0.12249098, 0.04178172,
       0.02725186])

In [ ]:
from sklearn.metrics import f1_score

# Where 0 is for positive sentiment tweets and 1 for negative sentiment tweets
prediction_int = prediction_bow;

# converting the results to integer type
prediction_int = prediction_int.astype(np.int)
prediction_int

# calculating f1 score
log_bow = f1_score(y_valid_bow, prediction_int)

log_bow

0.5694444444444444

In [ ]:
true_positive = (prediction_bow == y_valid_bow).dot(y_valid_bow)
(true_positive.sum()/size)*100

3.6500156429241843

In [ ]:
true_negative = (prediction_bow == y_valid_bow).dot(1 - y_valid_bow)
(true_negative.sum()/size)*100

90.7602461153405

In [ ]:
false_positive = (prediction_bow != y_valid_bow).dot(y_valid_bow)
(false_positive.sum()/size)*100

3.431014704348733

In [ ]:
false_negative = (prediction_bow != y_valid_bow).dot(1 - y_valid_bow)
(false_negative.sum()/size)*100

2.1587235373865887

In [ ]:
positives = (y_valid_bow)
positives.sum()

679